/*default style*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }

/*app style*/
html,body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body{
  /*background: url("../images/bg.gif") repeat;*/
  background-color: #FFFDFA;
}
.wrapper{
  width: 100%;
  /* max-width: 1000px; */
  height: 100%;
  /* margin: 0 auto; */
  /*margin-top: 40px;*/
  display: flex;
   align-items: center;
  justify-content: center;
  flex-direction: column;
}
.workspace{
  width: 100%;
  height: 100%;
  background:#FFFDFA url("../images/bg.gif") repeat;
  display: flex;
}
.component-box{
  height: 200px;
  text-align: center;
  user-select: none;
}
.tooltip{
  display: none;
  position: absolute;
  width: 150px;
  height: 100px;
  background: #fff;
  left: 165px;
  top: 135px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: grey 1px 1px 10px;
  /*visibility: hidden;*/
}
.component-box .shape{
  display: inline-block;
  width: 30px;
  height: 30px;
  /*border: 1px solid;*/
  vertical-align: top;
  margin-top: 5px;
}
.component-shape{
  margin-top: 20px;
}
.component-name{
  font-size: 12px;
}
.sidebar{
  width: 160px;
  min-width: 160px;
  height: 100%;
  background: #f6f6f6;
  border:1px solid #a2a2a2;
}
.sidebar p.title{
  width: 100%;
  height: 30px;
  color: #707070;
  /* padding-left: 0px; */
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid #c3c3c3;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.33);
}
.search-box{
  width: 100%;
  height: 30px;
}
.search{
  position: relative;
  margin: 0;
  background-color: #F3F3F3;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 2px 0 10px;
  border-bottom: #cccccc solid 1px;
  cursor: default;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.33);
}
#shape_search{
  margin: 0;
  width: 135px;
  border: 1px solid #B8B8B8;
  line-height: 18px;
  background: #fff url(../images/search_ico.png) center right no-repeat;
  border-radius: 2px;
  padding-left: 2px;
  outline: none;
}
.edit-space{
  width: 100%;
  height: 100%;
  border-top: 1px solid #a2a2a2;
}
.window{
  position: absolute;
  width: 80px;
  height: 80px;
  border:1px solid black;
}
.edit-space .shape{
  position: absolute;
  width: 100px;
  height: 50px;
  z-index:24;
  line-height: 50px;
  display: flex;
  justify-content: center;
  /*background: #fff;*/
}
.edit-space .jtk-endpoint.jtk-endpoint-anchor{
  opacity:0.8;
}
.edit-space .shape svg{
  position: absolute;
  fill-opacity: 1;
}
.edit-label{
  display: none;
  width: 110px;
  height: 110px;
  position: absolute;
  top: -25px;
  background: ghostwhite;
  opacity: 0.95;
  box-shadow: grey 1px 1px 10px;
  border-radius: 4px;
  z-index: 2;
}
.edit-label button{
  display: block;
  width: 70px;
  height: 25px;
  line-height: 25px;
  margin-top: 5px;
  background: #fff;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 12px;
}
.edit-label button.add-text-button{
  background: mediumseagreen;
  color: #fff;
  transition: all 0.3s;
}
.edit-label button.add-text-button:hover{
  box-shadow: green 0 1px 2px;
}
.edit-label button:active{
  opacity: 0.6;
}
.edit-label button.delete-component-button{
  background: crimson;
  color: #fff;
}
.edit-label button.delete-component-button:hover{
  box-shadow: red 0 1px 2px;

}
.edit-label button.cancle-edit-button{
  background: lightslategrey;
  color: #fff;
}
.edit-label button.cancle-edit-button:hover{
  box-shadow: grey 0 1px 2px;
}
.choose-edit{
  width: 110px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.component-text{
  display: flex;
  width: 80px;
  height: auto;
  font-size: 14px;
  line-height: 14px;
  word-wrap: break-word;
  word-break: break-all;
  align-items: center;
  justify-content: center;
  user-select: none;
  z-index: 1;
}
.edit-space .aLabel {
  background-color: white;
  padding: 0.4em;
  font: 12px sans-serif;
  color: #444;
  z-index: 21;
  border: 1px dotted gray;
  opacity: 0.8;
  cursor: pointer;
  user-select: none;
  font-size: 10px;
}
.pop-mask{
  display: none;
  position: absolute;
  /*background: black;*/
  width: 100%;
  height: 100%;
  z-index: 36;
  /*opacity: 0;*/
  align-items: center;
  justify-content: center;
}
.check-pop,.edit-pop{
  /*display: none;*/
  position: absolute;
  width: 175px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: grey 1px 1px 10px;
  z-index: 48;
  background: ghostwhite;
  visibility: hidden;
  opacity: 0.95;
}
.check-pop p{
  text-align: center;
  margin-top: 30px;
}

.check-pop-confirm{
  display: inline-block;
  margin-left: 40px;
  margin-top: 25px;
  width: 80px;
  height: 25px;
  border-radius: 5px;
  border: none;
  background: crimson;
  color: #fff;
  outline: none;
  font-size: 14px;
  line-height: 25px;
  transition: all 0.3s;
}

.check-pop-cancel{
  display: inline-block;
  width: 80px;
  height: 25px;
  border-radius: 5px;
  border: none;
  background: grey;
  color: #fff;
  outline: none;
  font-size: 14px;
  line-height: 25px;
  transition: all 0.3s;
}
.check-pop-confirm:hover,.check-pop-cancel:hover{
  box-shadow: grey 0 1px 2px;
}
.check-pop-confirm:active,.check-pop-cancel:active{
  opacity: 0.6;
}
.add-label-text{
  display: block;
  width: 110px;
  height: 25px;
  /* margin: 0 auto; */
  margin-top: 10px;
  margin-left: 10px;
  outline: none;
  font-size: 14px;
  border: 1px solid #ccc;
  /* border-radius: 4px; */
  /* border-left: none; */
  /* border-right: none; */
  padding: 2px;
  text-align: center;
  border-radius: 5px 0 0 5px;
}
.edit-pop-confirm{
  display: block;
  position: absolute;
  /* margin-left: 23px; */
  /* margin-top: 10px; */
  width: 40px;
  height: 31px;
  top: 10px;
  left: 125px;
  /* border-radius: 5px; */
  border: none;
  background: #4da958;
  color: #fff;
  outline: none;
  font-size: 14px;
  line-height: 25px;
  border-radius: 0 5px 5px 0;
}
.edit-pop-confirm:hover{
  box-shadow: green 0 1px 2px;
}
.edit-pop-cancel{
  display: inline-block;
  /*margin-left: 10px;*/
  margin-top: 5px;
  width: 75px;
  height: 31px;
  border-radius: 5px;
  border: none;
  background: grey;
  color: #fff;
  outline: none;
  font-size: 14px;
  line-height: 25px;
  transition: all 0.3s;
}
.edit-pop-cancel:hover{
  box-shadow: grey 0 1px 2px;
}
.edit-pop-delcon{
  position: absolute;
  width: 120px;
  height: 30px;
  background: white;
  border-radius: 4px;
  border: 1px solid rgb(180,180,180);
  outline: none;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.3);
  z-index: 41;
  font-size: 14px;
  visibility: hidden;
}
.edit-pop-delcon:hover{
  background: #e2e2e2;
}
.edit-pop-cancel:active,.edit-pop-confirm:active{
  opacity:0.6;
}

.nav{
  width: 100%;
  height: 40px;
  border: 1px solid #a2a2a2;
  border-bottom: none;
  background: #f3f3f3;
}
.nav p{
  display: block;
  width: auto;
  height: 40px;
  margin-left: 15px;
  padding: 0 10px;
  line-height: 40px;
  font-size: 20px;
}
.tool-bar{
  display: flex;
  position: relative;
  padding-left: 35px;
  border-top: 1px solid #cbcccc;
  width: 100%;
  height: 36px;
  -webkit-box-shadow: inset 0 1px 0 0 #fff;
  -moz-box-shadow: inset 0 1px 0 0 #fff;
  box-shadow: inset 0 1px 0 0 #fff;
  background-color: #f5f5f5;
  background-image: -webkit-linear-gradient(top,#f5f5f5,#eee);
  background-image: -moz-linear-gradient(top,#f5f5f5,#eee);
  background-image: -ms-linear-gradient(top,#f5f5f5,#eee);
  background-image: -o-linear-gradient(top,#f5f5f5,#eee);
  background-image: linear-gradient(top,#f5f5f5,#eee);
  font-size: 12px;
  align-items: flex-start;
  justify-content: flex-start;
}
.tool-bar .tool{
  width: 25px;
  height: 25px;
  margin: 4px 0 0 5px;
  opacity: 0.4;
}
.tool-bar .tool.active{
  opacity: 1;
}
.tool-bar .tool.active:hover{
  box-shadow: rgb(180,180,180) 0 0 2px 1px;
}
.tool-bar .tool.active.selected{
  border-color: #ccc;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.tool-bar .shape-color{
  background: url("../images/fill.png") no-repeat;
  background-size: 100%;
}
.tool-bar .font-color{
  background: url("../images/fontcolor.png") no-repeat;
  background-size: 100%;
}
.tool-bar .stroke-color{
  background: url("../images/stroke.png") no-repeat;
  background-size: 100%;
}
.tool-bar .shape-color.active:hover,.tool-bar .font-color.active:hover,.tool-bar .stroke-color.active:hover{
  opacity: 1;
}
.tool-bar .shape-color.active.selected{
  background: #e2e2e2 url("../images/fill.png") no-repeat;
  background-size: 100%;
}
.tool-bar .font-color.active.selected{
  background: #e2e2e2 url("../images/fontcolor.png") no-repeat;
  background-size: 100%;
}
.tool-bar .stroke-color.active.selected{
  background: #e2e2e2 url("../images/stroke.png") no-repeat;
  background-size: 100%;
}
.flowchart-save-button{
  display: block;
  position: absolute;
    right: 0;
  width: 20px;
  height: 20px;
  outline: none;
  border: none;
  margin-right: 25px;
  margin-top: 5px;
  background: url(../images/save.png) no-repeat;
  background-size: 100%;
  opacity: 0.8;
}
.flowchart-save-button:hover{
  opacity: 1;
}
.flowchart-save-button:active{
  opacity: 0.9;
}
.color-style{
  position: absolute;
  width: 30px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
.operation-bar{
  width: 100%;
  height: 160px;
  position: absolute;
  background: #f6f6f6;
  bottom: 0;
  left: 162px;
  border-top: 1px solid #cccc;
}
.selected-box{
  position: absolute;
  width: 120px;
  height: 60px;
  border-radius: 5px;
  z-index: -1;
  top: -7px;
  border: 2px dashed tomato;
  visibility: hidden;
 }
.selected-box.active,.edit-text.active,.edit-shape.active,.edit-pop.active,.edit-pop-delcon.active{
  visibility: visible;
}
.edit-text{
  position: absolute;
  width: 70px;
  height: 20px;
  background: white;
  top: 13px;
  z-index: 1;
  outline: none;
  font-size: 14px;
  text-align: center;
  visibility: hidden;
}
.edit-shape{
  display: block;
  position: absolute;
  width: 240px;
  height: 60px;
  background: white;
  border-radius: 4px;
  border: 1px solid rgb(180,180,180);
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.3);
  z-index: 41;
  font-size: 14px;
  visibility: hidden;
}
.edit-shape li{
  position: relative;
  width: 180px;
  height: 30px;
  line-height: 30px;
  padding: 0 30px;
}
.edit-shape li:hover{
  background: #e2e2e2;
}
.edit-shape li .extent{
  position: absolute;
  right: 10px;
  top: 0;
  color: #777;
  text-align: right;
}
.icon-edit-text{
  position: absolute;
  width: 16px;
  height: 16px;
  left: 6px;
  top: 6px;
  background: url(../images/edit.png) no-repeat;
}
.icon-delete-shape{
  position: absolute;
  width: 16px;
  height: 16px;
  left: 6px;
  top: 6px;
  background: url(../images/delete.png) no-repeat;
}
.color-picker{
  width: 180px;
  height: 180px;
  position: absolute;
  background: #FFF;
  border-radius: 4px;
  border: 1px solid rgb(180,180,180);
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  z-index: 36;
  top:32px;
  visibility: hidden;
}
.color-picker.active{
  visibility: visible;
}
.color-picker .color-items{
  width: 160px;
  margin: 15px 0 0 12px;
}
.color-picker .color-items:nth-of-type(1){
  display: flex;
  height: 13px;
  align-items: flex-start;
}
.color-picker .color-items:nth-of-type(2){
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.color-picker .color-items div{
  width: 12px;
  height: 12px;
  border: 1px solid ;
  margin: -1px -1px 0 0;
}
.color-picker .color-items div:hover{
  border:1px solid #fff;
  z-index: 1;
}